*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}
body{
    background-color: grey;
    text-align: center;
}
.container{
    width: 600px;
    max-width: calc(100vw - 2rem);
    border: 2px solid white;
    margin: 10px auto;
}
.container img{
    width: 100%;
    height: inherit;
}
.thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
    padding: 5px;
}
.thumbnail .thumb{
    width: 180px;
    height: 180px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}
.thumbnail img:hover{
    opacity: 0.75;
    border: 2px solid wheat;
    cursor: pointer;
}